<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zjjacky.springcloud.dao.DeptDao">

    <insert id="addDept" parameterType="Dept">
        INSERT INTO dept (dname, db_source)
        VALUES (#{dname}, DATABASE())
    </insert>

    <select id="queryDeptById" resultType="Dept" parameterType="Long">
        SELECT * FROM dept where dnum = #{dnum};
    </select>

    <select id="queryAll" resultType="Dept">
        SELECT * FROM dept;
    </select>

</mapper>